
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.bg {
    background-image: url("https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320_1280.jpg");
    background-size: cover; /* or try contain */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.bg .title{
    text-align: center;
    /* mar */
    font-size: 50px;
    font-weight: bold;
    /* border: 1px solid rebeccapurple; */
    color: rgb(26, 43, 10);
    text-shadow: 0px 0px 10px green ;
    padding: 20px;
    font-family: "Space Grotesk", sans-serif;
    
}

.bg .frm{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-radius: 10px;
}

.bg .frm input,button{
    display: block;
    margin: 2vh auto;
}

.bg .frm input{
    font-size: 20px;
    padding: 10px;
    width: 98%;
    border-radius: 10px;
    outline: none;
    background:none;
   
}

input::placeholder{
    color: black;
}

input:hover{
    box-shadow: 0px 0px 10px rgb(10, 86, 4);
}

.bg .frm button{
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px goldenrod;
    /* margin-top: 2vh; */

    &:hover{
        background-color: darkgoldenrod;
    }
}